
<div class="table-responsive">
        <table class="table table-bordered" style="background-color: #fff;">
          <thead>
            <tr>
        
              <th scope="col">Student Name</th>
              <th scope="col">Rno</th>
              <th scope="col">Branch</th>
              <th scope="col">Percentage</th>
              <th scope="col">placed</th>
              <th scope="col">Company</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td>{{data.studentName|uppercase}}</td>
              <td>{{data.regNumber}}</td>
              <td>{{data.branch}}</td>
              <td>{{data.current}}</td>
              <td>{{data.placed}}</td>
              <td>{{data.company}}</td>
            </tr>
          </tbody>
        </table>
        </div>